header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    padding: 0 10rem;
    color: var(--text-color);
    background: transparent;
    backdrop-filter: blur(15px);
    z-index: var(--z-fixed);
    position: fixed;
    width: 100%;
}

.nav-logo{
    font-weight: var(--font-medium);
    font-size: 1.4rem;
    color: var(--primary-color);
}

nav a{
    margin: 0 1.1rem;
    color: #011222;
    font-size: var(--normal-font);
    font-weight: var(--font-medium);
}

nav a:hover,
nav a.active{
    color: var(--primary-color);
    transition: ease .3s;
}

header .nav-btn{
    padding: 8px 10px 4px 10px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: var(--text-color);
    visibility: hidden;
    opacity: 0;
    display: none;

    transition: .3s;
}

.nav-btn.show{
    border: 2.5px solid #05b5ea3c;
    border-radius: 0.4rem;
    font-size: 1.1rem;

    transition: .3s;
}

.nav-btn:hover{
    color: var(--secondary-color);
}

@media only screen and (max-width :1024px){
    header .nav-btn{
        display: block;
        visibility: visible;
        opacity: 1;
    }

    header nav {
        position: fixed; 
        top: 0; 
        left: 0;
        height: 100vh; 
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        background-color: var(--container-color);
        transition: ease-in-out .25s;
        transform: translateY(-100vh);
    }

    nav a{
        font-size: 1.1rem;
    }

    header .responsive_nav{
        transform: none;
    }

    .nav-close-btn{
        position: absolute;
        top: 2.5%;
        right: 5%;
        font-size: 1.25rem;
    }
    
    header{
        padding: 0 4rem;
    }
} 

@media screen and (max-width : 992px){
    header{
        padding: 0 2rem;
    }
}

@media screen and (max-width : 576px){
    header{
        padding: 0 2rem;
    }
}